/* ================================================================= */
        /* ==============   HOME PAGE   ============== */
/* ================================================================= */

/* Large Devices */
@media (max-width: 1300px) {
    /* Banners */
    #banner {
        background-position: 80% 0%;
    }
    
    /* About */
    #about .meetUs-bx {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    #about .meetUs-bx .txt-content {
        width: 100%;
        padding: 0 25px;
    }

    #about .meetUs-bx .txt-content h3 {
        text-align: center;
        margin-bottom: 15px;
    }

    #about .meetUs-bx #slideshow {
        width: 100%;
    }

    #about .servers .container {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        gap: 15px;
    }

    #about .servers .container .servers-bx {
        width: 100%;
        justify-content: space-evenly;
    }

    #about .servers .container .servers-bx:nth-child(3) {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
        gap: 0px;
    }

    #about .servers .container .servers-bx:nth-child(1) div {
        text-align: start;
    }
    #about .servers .container .servers-bx:nth-child(3) div {
        text-align: start;
    }

    /* Gallery */
    #gallery {
        padding: 80px 0px;
    }

    #gallery .image-container {
        width: 100%;
        max-width: 1000px;
        height: 955px;
        margin: 0 auto;
    }

    /* Contact */
    #contact .contact-bx {
        flex-direction: column;
        gap: 50px;
    }

    #contact .contact-bx .form div {
        max-width: 600px;
    }
}

/* Medium Devices */
@media (max-width: 1000px) {
    #logo {
        display: none;
    }

    /* Banner */
    #banner .networks {
        min-width: 100vh;
        bottom: 20px;
    }

        /* Gallery */
        #gallery .image-container {
            padding: 0 20px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas: 
                'img4 img4 img4 img4'
                'img2 img2 img2 img2'
                'img5 img5 img5 img5'
                'img8 img8 img8 img8';
        }
    
        #gallery .image-container img:nth-child(1) {
            display: none;
            height: 250px;
        }
        #gallery .image-container img:nth-child(2) {
            grid-area: img2;
            height: 250px;
        }
        #gallery .image-container img:nth-child(3) {
            display: none;
            height: 250px;
        }
        #gallery .image-container img:nth-child(4) {
            grid-area: img4;
            height: 250px;
        }
        #gallery .image-container img:nth-child(5) {
            grid-area: img5;
            height: 250px;
        }
        #gallery .image-container img:nth-child(6) {
            display: none;
            height: 250px;
        }
        #gallery .image-container img:nth-child(7) {
            display: none;
            height: 250px;
        }
        #gallery .image-container img:nth-child(8) {
            grid-area: img8;
            height: 250px;
        }
}

/* Small Devices */
@media (max-width: 640px) {
    .p-1 {
        padding: 20px;
    }

    /* Banner */
    #banner .header-top .left, .right {
        padding: 7px 20px;
    }

    /* About */
    #about .meetUs-bx .txt-content p {
        line-height: 20px;
    }

    #about .servers .container .servers-bx div p {
        line-height: 20px;
    }

    /* Join */
    #Carousel .slide {
        padding: 0px !important;
    }

    #Carousel .slide p {
        margin: 0 auto !important;
    }

    /* Contact */
    #contact .contact-bx .get-ticket {
        line-height: 20px;
    }
}

/* Extra Small Devices */
@media (max-width: 479px) {
    .p-1 {
        padding: 0px;
    }

    h3 {
        margin-top: 32px;
    }

    /* About */
    #about .servers .container .servers-bx {
        justify-content: center;
        gap: 20px;
    }

    /* Contact */
    #contact {
        padding: 0 10px;
    }

    #contact .contact-bx .get-ticket {
        padding-right: 20px;
    }

    #contact .contact-bx .form {
        margin-bottom: 28px;
    }
}

/* ================================================================= */
        /* ==============   STORE PAGE   ============== */
/* ================================================================= */

/* Medium Devices */
@media (max-width: 1000px) {
    /* Banner */
    #storeBanner .dotted-background span {
        text-align: center;
    }

    /* Categories */
    .categories-container {
        padding: 0 5px;
        padding-bottom: 50px;
    }
    .categories-container > div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .categories-container .side {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        width: auto;
        border-radius: 20px;
        background: linear-gradient(#970D1A, #2e0a07);
        outline: hidden;
    }

    .categories-container .side-right {
        padding-left: 0;
        justify-content: center;
        align-items: center;
    }

    .categories-container .side button {
        width: auto;
    }
    .categories-container .side button {
        border-radius: 20px;
    }

    .categories-container .side button:nth-child(1) {
        border-radius: 20px;
    }

    .categories-container .side button:nth-child(7) {
        border-radius: 20px;
    }

    /* Products Details */
    .product-detail .features {
        padding: 40px 100px;
    }
}

/* Small Devices */
@media (max-width: 640px) {
    /* Header */
    .header-top .left, .right {
        padding: 7px 70px;
    }

    /* Banner */
    #storeBanner .dotted-background span {
        font-size: 1.5rem;
    }

    #storeBanner .dotted-background div {
        justify-content: center;
        gap: 30px;
    }

    /* Cart */
    .cart-container {
        width: 100%;
    }

    .cart-heading {
        margin-left: 30px;
    }

    .cart-wrapper .item-desc .flex {
        width: 250px;
    }
}

/* Extra Small Devices */
@media (max-width: 479px) {
    /* Products Details */
    .product-detail .features {
        padding: 40px 50px;
    }

    /* Cart */
    .cart-wrapper .item-desc .flex {
        width: 220px;
    }
}